:root {
  --primary: #1c2e41;
  --secondary: #4f7492;
  --info: #3e3e3e;
  --warning: #c99700;
  --blue: #0056b3;
  --purple: #6633cc;
  --light-purple: #9999cc;
  --gradient: linear-gradient(45deg, #1c2e41, #4f7492);
}

/*
font
*/

@font-face {
  font-family: Bison;
  src: url('font/Bison-Bold_PersonalUse_.woff');
}

@font-face {
  font-family: Aller_Bold;
  src: url('font/aller/Aller_Bd.woff');
}

@font-face {
  font-family: Aller_BoldLight;
  src: url('font/aller/Aller_Bdlt.woff');
}

@font-face {
  font-family: Aller_Light;
  src: url('font/aller/Aller_lt.woff');
}

@font-face {
  font-family: Aller_Lightlt;
  src: url('font/aller/Aller_Ltlt.woff');
}

@font-face {
  font-family: Aller_Regular;
  src: url('font/aller/Aller_Rg.woff');
}

@font-face {
  font-family: Aller_Display;
  src: url('font/aller/AllerDisplay.woff');
}


/*====== general ======*/
.row {
  margin: 0px;
  height: 100%;
}

.img {
  background: url('img/img01.png');
  background-size: cover;
  background-position: center;
}

.img02 {
  background: url('img/img02.png');
  background-size: cover;
  background-position: center;
}

.hr {
  width: 240px;
  height: 15px;
  display: inline-block;
  background: var(--secondary);
}

.hr02 {
  border-left: 15px solid var(--secondary);
}

.container {
  margin: 150px auto;
}

.container .row {
  margin: 50px 0px;
}

/*====== header ======*/
div.lead-section {
  height: 670px;
}

div.lead-section h1 {
  font-family: Bison;
  font-size: 5em;
  color: var(--primary);
}

div.lead-section h2 {
  font-family: Aller_Bold;
  color: white;
}

/*====== nav ======*/
#navigation {
  position: absolute;
  width: 100%;
  z-index: 99;
}

#navigation .nav-item {
  padding: 0px 20px;
}

#navigation li a {
  font-family: Aller_Bold;
  color: white;
  border-radius: 50px;
  transition: background 0.3s, color 0.3s;
}

#navigation li a:hover {
  color: var(--secondary);
  background: white;
}

#navigation li a .active {
  color: var(--secondary);
  background: white;
}

#navigation a.primal-link {
  color: var(--primary);
}

#navigation a.primal-link:hover {
  background: var(--secondary);
  color: white;
}

#navigation a.primal-link.active {
  background: var(--secondary);
  color: white;
}

.pipe {
  width: 2.5px;
  background: white;
  height: 25px;
}

/*====== section 01 ======*/
.sec01 {
  background: url('img/img03.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.sec01 h1 {
  font-family: Bison;
  font-size: 3em;
  color: var(--primary);
}

.sec01 p {
  font-family: Aller;
  font-size: 1em;
  color: var(--info);
  font-style: italic;
}

a.btn-saiba-mais {
  font-family: Aller_Bold;
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
  background: var(--primary);
}

a.btn-saiba-mais:hover {
  text-decoration: none;
  color: white;
  background: var(--secondary);
}

/*====== section 02 ======*/
.sec02 {
  height: 1600px;
  padding: 50px 20px;
  background: url('img/img04.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.sec02 h1 {
  font-family: Bison;
  font-size: 3em;
  color: var(--primary);
}

.sec02 p {
  font-family: Aller;
  font-size: 1em;
  color: var(--info);
  font-style: italic;
}

/*====== carousel ======*/
.card {
  max-width: 22%;
  background: white;
  border: 1px solid var(--secondary);
  border-radius: 15px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
  margin-top: 100px;
}

.card-circle {
  width: 100px;
  height: 100px;
  background: var(--gradient);
  border-radius: 50px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.fa-2x {
  color: var(--secondary);
}

/*====== form ======*/
#form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px 50px 50px 0px;
}

#form .input-group-text{
  background: var(--secondary);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px 0px 0px 50px;
}

#form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  resize:none;
  border-radius: 20px;
}

/*====== section 03 ======*/
.sec03 {
  margin-top: 200px;
}

.sec03 h1 {
  font-family: Bison;
  font-size: 5em;
  color: var(--primary);
}
