:root {
  --primary: #1c2e41;
  --secondary: #4f7492;
  --info: #3e3e3e;
  --warning: #c99700;
  --blue: #0056b3;
  --purple: #6633cc;
  --light-purple: #9999cc;
  --gradient: linear-gradient(45deg, #1c2e41, #4f7492);
}

/*
font
*/

@font-face {
  font-family: Bison;
  src: url('../font/Bison-Bold_PersonalUse_.woff');
}

@font-face {
  font-family: Aller_Bold;
  src: url('../font/aller/Aller_Bd.woff');
}

@font-face {
  font-family: Aller_BoldLight;
  src: url('../font/aller/Aller_Bdlt.woff');
}

@font-face {
  font-family: Aller_Light;
  src: url('../font/aller/Aller_lt.woff');
}

@font-face {
  font-family: Aller_Lightlt;
  src: url('../font/aller/Aller_Ltlt.woff');
}

@font-face {
  font-family: Aller_Regular;
  src: url('../font/aller/Aller_Rg.woff');
}

@font-face {
  font-family: Aller_Display;
  src: url('../font/aller/AllerDisplay.woff');
}


/*====== general ======*/
.whatsapp {
  font-size: 3.5em;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  color: #34af23;
  z-index: 99;
  transition: color .5s;
}

.whatsapp:hover {
  color: var(--secondary);
}

.row {
  margin: 0px;
  height: 100%;
}

#solucoes .img {
  background: url('../img/img01.png');
  background-size: cover;
  background-position: center;
}

#solucoes .img02 {
  background: url('../img/img02.png');
  background-size: cover;
  background-position: center;
}

#home .img {
  background: url('../img/img07.png');
  background-size: cover;
  background-position: center;
}

.hr {
  width: 240px;
  height: 15px;
  display: inline-block;
  background: var(--secondary);
}

.hr02 {
  border-left: 15px solid var(--secondary);
}

.container {
  margin: 150px auto;
}

.container .row {
  margin: 50px 0px;
}

/*====== header ======*/
div.lead-section {
  height: 670px;
}

div.lead-section h1 {
  font-family: Bison;
  font-size: 5em;
  color: var(--primary);
}

div.lead-section h2 {
  font-family: Aller_Bold;
  color: white;
}

/*====== nav ======*/
#navigation {
  position: absolute;
  width: 100%;
  z-index: 99;
}

#navigation .nav-item {
  padding: 0px 20px;
}

#navigation li a {
  font-family: Aller_Bold;
  color: white;
  border-radius: 50px;
  transition: background 0.3s, color 0.3s;
}

#navigation li a:hover {
  color: var(--secondary);
  background: white;
}

#navigation li a .active {
  color: var(--secondary);
  background: white;
}

#navigation a.primal-link {
  color: var(--primary);
}

#navigation a.primal-link:hover {
  background: var(--secondary);
  color: white;
}

#navigation a.primal-link.active {
  background: var(--secondary);
  color: white;
}

.pipe {
  width: 2.5px;
  background: white;
  height: 25px;
}

/*====== section 01 ======*/
.sec01 {
  background: url('../img/img03.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.sec01 h1 {
  font-family: Bison;
  font-size: 3em;
  color: var(--primary);
}

.sec01 p {
  font-family: Aller;
  font-size: 1em;
  color: var(--info);
  font-style: italic;
}

a.btn-saiba-mais {
  font-family: Aller_Bold;
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
  background: var(--primary);
  transition: background 0.5s;
}

a.btn-saiba-mais:hover {
  text-decoration: none;
  color: white;
  background: var(--secondary);
}

/*====== section 02 ======*/
.sec02 {
  height: 1620px;
  padding: 50px 20px;
  background: url('../img/img04.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.sec02 h1 {
  font-family: Bison;
  font-size: 3em;
  color: var(--primary);
}

.sec02 p {
  font-family: Aller;
  font-size: 1em;
  color: var(--info);
  font-style: italic;
}

/*====== benefits ======*/
.benefits {
  background: url("../img/img08.png") no-repeat;
  background-size: cover;
  height: 768px;
}

.benefits img {
  width: 150px;
}

.benefits h2 {
  color: white;
  font-family: Bison;
  font-size: 2em;
}

.benefits p {
  color: #ccc;
  font-family: Aller_Regular;
  font-size: .8em;
  font-style: italic;
}

/*====== about ======*/

#sobre .lead-section {
  background: url("../img/sobre_header.png") no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

#sobre .lead-section img {
  width: 500px;
}

#sobre .lead-section a {
  align-self: center;
}


/*====== form ======*/
#form input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px 50px 50px 0px;
}

#form .input-group-text{
  background: var(--secondary);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px 0px 0px 50px;
}

#form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  resize:none;
  border-radius: 20px;
}

a.btn-enviar {
  font-family: Aller_Bold;
  font-size: 1.2em;
  display: block;
  text-align: center;
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
  background: var(--primary);
  transition: background 0.5s;
}

a.btn-enviar:hover {
  text-decoration: none;
  color: white;
  background: var(--secondary);
}

/*====== contact ======*/
.contact {
  margin-top: 200px;
}

.contact h1 {
  font-family: Bison;
  font-size: 5em;
  color: var(--primary);
}

/*====== footer ======*/
footer {
  background: var(--primary);
  padding: 10px;
}

footer h6 {
  font-family: Aller;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer a {
  font-size: 2em;
  padding: 10px;
  color: white;
  transition: color .5s;
}

footer a:hover {
  color: var(--secondary);
}
